---
title: HTML5 Boilerplate Middleman
---
<html>
<head>
  <link rel="stylesheet" href="stylesheets/main.sass">
  <title>Corsa</title>
</head>
<body>
<div id="page_property">
  <header id="head_top">
    <h1><a href="#">CORSA</a></h1>
    <div id="nav_tag">
      <ul>
        <li><a href="#" style="color: darkcyan">HOME</a></li>
        <li><a href="About.html.erb">ABOUT</a></li>
        <li><a href="#">OUR TEAM</a></li>
        <li><a href="#">PORTFOLIO</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">FEATURES</a></li>
      </ul>
    </div>
    <div id="picture_id">
      <img src="img/wallpaper-of-autumn-season-trees.jpg">
      <div id="picture_write">
        <strong>WONDERFUL DIGITAL THINGS</strong> AND A PINCH OF CREATIVITY
         <input type="button"value="LEARN MORE">
      </div>
    </div>
  </header>

</div>
</body>

</html>

